/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
syncResult.log
syncResult21.log
syncResult20.log
syncResult22.log
syncResult23.log
syncResult.log
syncResult19.log
